<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.medhatblog.olxclone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SellYourItemActivity"
            android:label="@string/sell_your_item"
            android:parentActivityName=".NavigationActivity">
        </activity>
        <activity
            android:name=".imagelib.activities.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MultimagerTheme.NoActionBar"/>
        <activity android:name=".ViewAdDetails"
                  android:theme="@style/AppTheme.Dark">
        </activity>
    </application>

</manifest>